body {
    text-align: center;

}
h1 {
    transform: rotateX('180deg');

}
h2 {
    text-decoration: underline overline; 
    text-transform: capitalize;
}
h3 {
    text-shadow: 2px 2px 1px blue;
}
h4 {
    box-shadow: 9px 9px 5px orange;
}
h5 {
    
color:blueviolet;

font-family:'Courier New', Courier, monospace;
}
#a {
    text-indent: 50%;
}
h6 {
    text-decoration: line-through ; 
    text-transform: lowercase; 
}